<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOLA Mundo</title>
</head>
<body>
<h1>Hola</h1>
<ul>
    {% for x in categories %}
    <li>{{ x.x_val }}</li>{{ x.nombre }}
    {% endfor %}
</ul>
</body>
</html>